source "$ZEPHYR_BASE/Kconfig.zephyr"
menu "ENS contact storage"

config ENS_MAX_CONTACTS
    int "Max contacts in storage"
    default 2048
    help
      The maximum amount of contacts, that can be stored on the devies. Needs to be a power of 2!

endmenu

menu "Protobuf"

config TEST_UNPACK_KEYS_N
    int ""
    default 0

config TEST_UNPACK_KEYS
    bool ""
    default n
    select TIMING_FUNCTIONS

endmenu
